.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .tungsten-text{
    font-family: 'Tungsten';
    font-weight: bold;
    font-style: normal;
}

.tungsten-medium {
    font-family: 'Tungsten';
    font-weight: 500;
    font-style: normal;
}
:root {
    /* Light theme colors */
    --btn-color-light: #000000;
    --btn-text-color-light: #ffffff;
    --btn-hover-color-light: #e2e2e2;
    --btn-hover-text-color-light: #0c0c0c;
  
    /* Dark theme colors */
    --btn-color-dark: rgb(255, 255, 255);
    --btn-text-color-dark: #000000;
    --btn-hover-color-dark: #000000;
    --btn-hover-text-color-dark: #ffffff;
  }

  .dark {
    --btn-color-light: var(--btn-color-dark);
    --btn-text-color-light: var(--btn-text-color-dark);
    --btn-hover-color-light: var(--btn-hover-color-dark);
    --btn-hover-text-color-light: var(--btn-hover-text-color-dark);
  }

  .val-button{
    text-decoration: none;
    color:  var(--btn-text-color-light);
    background-color: var(--btn-color-light);
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
  }
  .button-text{
    padding: 17px 30px;
    margin:0;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
  }

  .val-button:hover{
    background: var( --btn-hover-color-light);
    color: var(--btn-hover-text-color-light);
  }


