
:root {
    /* Light theme colors */
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --likes-container-border-light: #dbdbdb;
    --likes-container-color-light: #f1f1f1;
    --user-color-light: #666666;
    --svg-color-light: #666666;
  
    /* Dark theme colors */
    --background-color-dark: rgb(44, 44, 49);
    --text-color-dark: #fdfdfd; 
    --likes-container-border-dark: #707070;
    --likes-container-color-dark: rgb(151, 151, 151);
    --user-color-dark: #dbdadb;
    --svg-color-dark: #f7f6f6;
  }

  .dark {
    --background-color-light: var(--background-color-dark);
    --text-color-light: var(--text-color-dark);
    --border-color-light: var(--border-color-dark);
    --likes-container-border-light: var(--likes-container-border-dark);
    --likes-container-color-light: var(--likes-container-color-dark);
    --user-color-light: var(--user-color-dark);
    --svg-color-light: var(--svg-color-dark);
  }

.post-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-light);
    transition: background-color 1s ease-in-out;
    height: auto;
}
.user-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
    color: var(--text-color-light);
    gap: 6px;
}

.blogpost-title{
    width: 700px;
    color: var(--text-color-light);
    transition: color 1s ease-in-out;
}

.post-body{
    width: 700px;
    color: var(--text-color-light);
    transition: color 1s ease-in-out;
}

.blogpost-options{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.blogpost-options svg{
  color: var(--svg-color-light);
}

.reach{
    padding: 10px 5px 10px 0px;
}

.reach-container{
    border: 1px solid var(--likes-container-border-light);
    background-color: var(--likes-container-color-light);
    border-radius: 30px;
    margin: 5px 5px 5px 0px;
}

.user-icon:hover{
    transform: translateX(20px);
    color: var(--user-color-light);
}

.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92.8vh;
    font-size: 25px;
    color: var(--text-color-light);
}

.not-found a{
    color: var(--text-color-light);
}

@media (max-width: 768px){
    .blogpost-title{
        width: 90%;
        color: var(--text-color-light);
        transition: color 1s ease-in-out;
        padding: 0 5%;
    }
    .post-body{
        width: 90%;
        color: var(--text-color-light);
        transition: color 1s ease-in-out;
        padding: 0 5%;
    }
    .user-icon{
        padding: 0 5%;
    }

    .reach{
        padding: 0 5%;
    }
    
}

@media (max-width: 430px){
    .blogpost-title{
        width: 90%;
        color: var(--text-color-light);
        transition: color 1s ease-in-out;
        padding: 0 5%;
    }
    .post-body{
        width: 90%;
        color: var(--text-color-light);
        transition: color 1s ease-in-out;
        padding: 0 5%;
    }
    .user-icon{
        padding: 0 5%;
    }

    .reach{
        padding: 0 5%;
    }

    .not-found{
        height: 94.4vh;
    }
    
}